body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#soon {
  text-align: center;
  margin-top: 4rem;
}

h1 {
  font-weight: 300;
  margin-bottom: 3rem;
}

p.emoticon {
  font-family: sans-serif;
  white-space: nowrap;
}
