@mixin button-variant($color, $background-color) {
  color: $color;
  background-color: $background-color;

  &:hover {
    background-color: darken($background-color, 5%);
  }

  & .icon {
    color: $color;
    margin-right: 0.5em;
  }
}

.btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: $button-line-height;
  margin: $button-margin;
  outline: none;
  padding: 0.3em 0.5em;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  white-space: nowrap;

  @include button-variant($color-black, $color-gray);

  -webkit-tap-highlight-color: transparent;
}

.btn.primary {
  @include button-variant($color-white, $color-blue);
}
