@mixin button-variant($background-color, $color: $color-white, $enabled: true) {
  background-color: $background-color;
  color: $color;

  & .icon { color: $color; }

  @if($background-color == $button-default) {
    border: 1px solid $color;
    cursor: pointer;

    &:hover { border-color: lighten($color, 40%); }
  } @else {
    border: 1px solid $background-color;

    @if $enabled {
      cursor: pointer;
      &:hover { background-color: lighten($background-color, 5%); }
    } @else {
      cursor: default;
    }
  }
}

.button {
  border-radius: 4px;
  display: inline-block;
  line-height: $button-line-height;
  margin: $button-margin;
  outline: none;
  padding: 0.8em 2em;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  white-space: nowrap;

  & .icon {
    margin-right: 0.5em;
  }

  @include button-variant($button-default, $color: $color-dark-grey);
  @include tap-highlight-color(transparent);
}

.danger.button { @include button-variant($button-danger); }
.disabled.button { @include button-variant($button-disabled, $enabled: false); }
.info.button { @include button-variant($button-info); }
.primary.button { @include button-variant($button-primary); }
.success.button { @include button-variant($button-success); }
.warning.button { @include button-variant($button-warning); }
