

@font-face {
  font-family: $font-lato;
  font-style: normal;
  font-weight: 300;
  src: url($font-lato-light-path) format('truetype');
}

@font-face {
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  src: url($font-lato-regular-path) format('truetype');
}

@font-face {
  font-family: $font-lato;
  font-style: normal;
  font-weight: 700;
  src: url($font-lato-bold-path) format('truetype');
}
