@mixin column-width($column) {
  & {
    width: unquote($single-column-width * $column + "%");
  }
}

.container {
  margin: 0 auto;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @media #{$small-devices} {
    width: $container-small;
  }

  @media #{$medium-devices} {
    width: $container-medium;
  }

  @media #{$large-devices} {
    width: $container-large;
  }
}

.grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  &.centered {
    justify-content: center;
  }

  &.right.aligned {
    justify-content: flex-end;
  }

  &.space.between {
    justify-content: space-between;
  }

  .cell {
    box-sizing: border-box;
    width: 100%;

    &.auto.wide {
      flex: 1;
    }

    @media #{$medium-devices} {
      &.one.wide { @include column-width(1); }
      &.two.wide { @include column-width(2); }
      &.three.wide { @include column-width(3); }
      &.four.wide { @include column-width(4); }
      &.five.wide { @include column-width(5); }
      &.six.wide { @include column-width(6); }
      &.seven.wide { @include column-width(7); }
      &.eight.wide { @include column-width(8); }
      &.nine.wide { @include column-width(9); }
      &.ten.wide { @include column-width(10); }
      &.eleven.wide { @include column-width(11); }
      &.twelve.wide { @include column-width(12); }
    }
  }
}
