html {
  color: $color-black;
  font-family: $font-raleway;
  font-size: 14px;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.1rem;
}
