/* Colors */
$color-amber: #ffc107;
$color-blue-grey: #b0bec5;
$color-dark-grey: #37474f;
$color-green: #4caf50;
$color-light-blue: #039be5;
$color-red: #f44336;
$color-teal: #00897B;
$color-white: #fff;

/* Buttons */
$button-danger: $color-red;
$button-default: $color-white;
$button-disabled: $color-light-grey;
$button-info: $color-light-blue;
$button-primary: $color-teal;
$button-success: $color-green;
$button-warning: $color-amber;
$button-line-height: 1.1rem;
$button-margin: 0.2em 0;

/* Fonts */
$font-raleway: "Raleway";
$font-raleway-light-path: "../fonts/raleway/raleway-light.ttf";
$font-raleway-regular-path: "../fonts/raleway/raleway-regular.ttf";
$font-raleway-bold-path: "../fonts/raleway/raleway-bold.ttf";
$font-icomoon-path: "../fonts/icomoon.ttf";

/* Grid */
$grid-gutter-width: 30px;

$container-small: 720px + $grid-gutter-width;
$container-medium: 940px + $grid-gutter-width;
$container-large: 1140px + $grid-gutter-width;

$grid-max-colums: 12;
$column-margin: 1.6%;
$single-column-width: (100 - ($column-margin * ($grid-max-colums - 1))) / $grid-max-colums;

/* Media queries */
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$small-devices: "only screen and (min-width: #{$small-screen})";
$medium-devices: "only screen and (min-width : #{$medium-screen})";
$large-devices: "only screen and (min-width : #{$large-screen})";
