/* Buttons */
$button-line-height: 1.1rem;
$button-margin: 0.2em 0;

/* Colors */
$color-black: #333;
$color-blue: #2979ff;
$color-gray: #e6e6e6;
$color-white: #fff;

/* Fonts */
$font-raleway: "Raleway";
$font-raleway-light-path: "../fonts/raleway/raleway-light.ttf";
$font-raleway-regular-path: "../fonts/raleway/raleway-regular.ttf";
$font-raleway-bold-path: "../fonts/raleway/raleway-bold.ttf";
$font-icomoon-path: "../fonts/icomoon.ttf";

/* Grid */
$grid-gutter-width: 30px;

$container-small: 720 + $grid-gutter-width;
$container-medium: 940 + $grid-gutter-width;
$container-large: 1140px + $grid-gutter-width;

/* Media queries */
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$small-devices: "only screen and (min-width: #{$small-screen})";
$medium-devices: "only screen and (min-width : #{$medium-screen})";
$large-devices: "only screen and (min-width : #{$large-screen})";
