/* Colors */
$color-black: #333;
$color-blue: #2979ff;
$color-gray: #e6e6e6;
$color-green: #4caf50;
$color-orange: #ff9800;
$color-red: #f44336;
$color-white: #fff;

/* Fonts */
$font-lato: "Lato";
$font-lato-light-path: "../fonts/lato/lato-light.ttf";
$font-lato-regular-path: "../fonts/lato/lato-regular.ttf";
$font-lato-bold-path: "../fonts/lato/lato-bold.ttf";
$font-icomoon-path: "../fonts/icomoon.ttf";

/* Grid */
$grid-gutter-width: 30px;

$container-small: 720 + $grid-gutter-width;
$container-medium: 940 + $grid-gutter-width;
$container-large: 1140px + $grid-gutter-width;

/* Media queries */
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$small-devices: "only screen and (min-width: #{$small-screen})";
$medium-devices: "only screen and (min-width : #{$medium-screen})";
$large-devices: "only screen and (min-width : #{$large-screen})";
